<footer class="footer-container white-text-container">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12">
          <h3>Magani</h3>
  
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <p><small>© 2024 Magani. All rights reserved</small>
              </p>
            </div>
            <div class="col-xs-12 col-sm-5">
              <p class="text-right">
                <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </footer>